@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Experiment One</h1>
    <input hidden value="A3DC9081-6DC1-4CF1-9E44-CEFE22F97E85" />
   <button style="color:red; border-color:red">Buy</button>
</div>
